
datasets/nasdaq/nasdaq_historical_prices_daily/datachunks/nasdaq_6.csv
datasets/nasdaq/nasdaq_historical_prices_daily/datachunks/nasdaq_1.csv
datasets/nasdaq/nasdaq_historical_prices_daily/datachunks/nasdaq_2.csv
datasets/nasdaq/nasdaq_historical_prices_daily/datachunks/nasdaq_3.csv
datasets/nasdaq/nasdaq_historical_prices_daily/datachunks/nasdaq_4.csv
datasets/nasdaq/nasdaq_historical_prices_daily/datachunks/nasdaq_5.csv
datasets/nasdaq/nasdaq_historical_prices_daily/datachunks/nasdaq_7.csv
datasets/nasdaq/nasdaq_historical_prices_daily/datachunks/nasdaq_8.csv
datasets/nasdaq/nasdaq_historical_prices_daily/datachunks/nasdaq_9.csv
datasets/nasdaq/nasdaq_historical_prices_daily/nasdaq_historical_prices_daily.csv
datasets/tweets/Company_Tweet.csv
datasets/tweets/Tweet.csv
